**/generated/
*.user

#build
[Oo]bj/
[Bb]in/
packages/

#vim
*~
*.swp
*.swo

#VS
*.csproj.user
.vs

#ReSharper
*.DotSettings.user

#JetBrains
**/.idea/**/workspace.xml
**/.idea/**/tasks.xml
**/.idea/dictionaries
**/.idea/dictionaries

#Rider
**/.idea/**/*.iml
**/.idea/**/contentModel.xml
**/.idea/**/modules.xml

#DocFX
**/_*/

